@keyframes oscillate {
	from {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); /* Ease-out sine */
	}

	25% {
		transform: translateY(-3px);
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); /* Ease-in-out sine */
	}

	75% {
		transform: translateY(3px);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); /* Ease-in sine */
	}

	to {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); /* Ease-out sine */
	}
}
