*, ::before, ::after {
	box-sizing: border-box;
}

html {
	overflow-wrap: anywhere;
	tab-size: 4;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	margin: 0;
}

dl dl, dl ol, dl ul, ol dl, ul dl {
	margin: 0;
}

/* TODO */
hr {
	color: inherit;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

abbr[title] {
	text-decoration: underline;
	text-decoration: underline dotted;
}


b, strong {
	font-weight: bolder;
}

code, kbd, samp {
	font-size: 1em;
}

sup, sub {
	all: unset;
	font-variant-position: super;
	font-feature-settings: "sups";
}

small {
	font-size: .8em;
}

audio, canvas, iframe, img, svg, video {
	display: block;
	max-width: 100%;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

canvas, img, svg, video {
	height: auto;
}

iframe {
	border-style: none;
}

svg:not([fill]) {
	fill: currentColor;
}

button, input, select {
	margin: 0;
}

button, select {
	text-transform: none;
}

button, [type="button" i], [type="reset" i], [type="submit" i] {
	-webkit-appearance: button;
}

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}


:-moz-focusring {
	outline: 1px dotted ButtonText;
}


summary {
	display: list-item;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
