/* GENERIC TYPOGRAPHY */

html {
	font-family: var(--body-font);
	font-size: 24px;
	line-height: 1.4;
}

strong {
	background-image: linear-gradient(
		to top,
		transparent 0 5%,
		var(--primary-color-lighter) 5% 50%,
		transparent 50% 100%
	);
}


/* PARAGRAPHS */

p {
	margin: 0;
}

p:not(:first-child) {
	margin-top: 1em;
}


/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

h1:not(.no-defaults), h2:not(.no-defaults), h3:not(.no-defaults), h4:not(.no-defaults), h5:not(.no-defaults), h6:not(.no-defaults) {
	font-family: var(--heading-font);
	font-weight: 500; /* I'm using the weight 500 of the Vollkorn font */
	line-height: 1.2;
}

h1:not(.no-defaults) {
	font-size: 1.8rem;
}

h2:not(.no-defaults) {
	font-size: 1.4rem;
}

h2:not(:first-child) {
	margin-top: 1em;
}


/* LINKS */

a {
	color: inherit;
	text-decoration: none;
}

a:not(.no-defaults) {
	color: var(--link-color);
	text-decoration: underline;
}

a:not(.no-defaults):hover, a:not(.no-defaults):active {
	color: var(--link-color-hover);
}

a:not(.no-defaults):focus {
	outline: grey 2px dotted;
}


/* LISTS */

ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul:not(.no-defaults) {
	list-style-type: disc;
	padding-left: 2rem;
}

ul:not(.no-defaults):not(:first-child) {
	margin-top: 1em;
}
