@import url("https://natrium729.gitlab.io/fonts/fonts.css");

@import "variables.css";
@import "animations.css";
@import "base.css";
@import "defaults.css";
@import "project-card.css";


/* PROJECT-SPECIFIC STYLES */

.content > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 70ch;
}

.top-menu {
	font-size: 1.25rem;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 5;
}

.top-menu a {
	text-decoration: underline;
}

.top-menu a:hover, .top-menu a:active {
	color: lightgrey;
}

.top-menu a:focus {
	outline: lightgrey 2px dotted;
}

.main {
	background-image: var(--main-background-image);
}

/* Called `masonry` even though it's a regular grid. I think I'd prefer a real masonry layout, but it's easier to handle like that. */
.masonry {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
}

.tech-tag {
	background: lightgrey;
	border-radius: 100vmax;
	font-size: .9rem;
	line-height: 1.1;
	margin-bottom: .3em;
	margin-right: .25em;
	padding: 0.2em .8em;
	text-align: center;
}

.main-wrapper {
	background-color: white;
	position: relative;
	z-index: 1;
}

.footer {
	background-color: var(--primary-color-darkest);
	bottom: 0;
	color:  var(--primary-color-lighter);
	left: 0;
	margin:0;
	position: sticky;
	top: 0;
}

.footer-links > li {
	display: flex;
}

.footer-links > li > * {
	flex-basis: 50%;
}

.footer-link-label {
	color: #946c3c;
	font-weight: bold;
	text-align: right;
	margin-right: .2em;
}

.footer-link {
	text-align: left;
	margin-left: .2em;
}

.project-header {
	background-color: black;
}

/* We use a ::before to add a background so that we can apply a filter to the background image only. */
.project-header::before {
	content: "";
	background-image: var(--background-image, var(--primary-gradient));
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	filter: brightness(50%) blur(4px);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.project-title {
	background-color: white;
	position: absolute;
	bottom: 3em;
	box-shadow: var(--box-shadow-big);
	left: 0;
	padding: 1rem;
	padding-left: 10%;
	right: 10%;
}

.project-content {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}


/* UTILITIES */

.background-color\:translucent-black {
	background-color: rgba(0, 0, 0, .3);
}

.background-color\:white {
	background-color: white;
}

.background-image\:primary-gradient {
	background-image: var(--primary-gradient);
}

.box-shadow\:s {
	box-shadow: var(--box-shadow-small);
}

.color\:white {
	color: white;
}

.display\:flex {
	display: flex;
}

.display\:inline-flex {
	display: inline-flex;
}

.display\:grid {
	display: grid;
}

.flex-direction\:column {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.flex-wrap\:wrap {
	flex-wrap: wrap;
}

.height\:full-screen {
	height: 100vh;
}

.place-content\:center {
	place-content: center;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.margin-left\:auto {
	margin-left: auto;
}

.margin-top\:s {
	margin-top: .5rem;
}

.min-height\:full-screen {
	min-height: 100vh;
}

.overflow\:hidden {
	overflow: hidden;
}

.padding {
	padding: 1rem;
}

.padding\:l {
	padding: 2rem;
}

.padding-left-right {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding-left-right\:s {
	padding-left: .5rem;
	padding-right: .5rem;
}

.position\:relative {
	position: relative;
}

.text-align\:center {
	text-align: center;
}

.width\:full {
	width: 100%;
}
