.project-card {
	background-color: white;
	box-shadow: 0 0 0 0px #999;
	transition: all .5s ease-in-out;
	transition-property: box-shadow, transform;
}

.project-card:hover, .project-card:focus-within {
	box-shadow: var(--box-shadow-big);
}

.project-card-button {
	align-items: center;
	background-color: var(--primary-color);
	display: inline-flex;
	justify-content: center;
	line-height: 1.2;
	margin-top: auto;
	min-height: 44px;
	min-width: 10ch;
	outline: var(--primary-color) solid 0;
	outline-offset: 3px;
	padding: 0.25em 0.75em;
	text-align: center;
	transition:
		box-shadow .5s ease-in-out,
		outline-width .1s ease-out,
		filter .5s ease-in-out;
}

.project-card-button:hover {
	filter: brightness(1.15);
}

.project-card-button:focus-visible {
	outline-width: 3px;
}

.project-card:hover .project-card-button {
	animation: oscillate 2.5s infinite;
	box-shadow: var(--box-shadow-small);
}

.project-card-image {
	filter: sepia(.2);
	object-fit: cover;
	object-position: center;
	transition: all ease-in-out .5s;
	transition-property: box-shadow, filter, transform;
}

.project-card:hover .project-card-image, .project-card:focus-within .project-card-image {
	box-shadow: var(--box-shadow-small);
	filter: sepia(0);
	transform: scale(1.05);
}
