:root {
	--primary-color-darkest: #241400;
	--primary-color-dark: #ca7300;
	--primary-color: #ed8600;
	--primary-color-light: #e7ad60;
	--primary-color-lighter: #ffe2b8;

	--primary-gradient: radial-gradient(var(--primary-color-light), var(--primary-color));

	--body-font: AlegreyaSans, -apple-system, BlinkMacSystemFont, avenir next, avenir, helveticaneue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--heading-font: Vollkorn, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, serif;
	--monospace-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

	--main-background-image: linear-gradient(var(--primary-color-lighter), var(--primary-color-light));

	--link-color: var( --primary-color-dark);
	--link-color-hover: var( --primary-color-light);

	--box-shadow-big: 0 20px 30px rgba(0, 0, 0, .5);
	--box-shadow-small: 0 4px 7px rgba(0, 0, 0, .4);
}
