<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ myself.fullName }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ '/css/main.css' | url }}">
	{% block additional_head %}{% endblock %}
</head>

<body>
	{% block body %}{% endblock %}
</body>

</html>
