<footer class="footer padding:l">
	<ul class="no-defaults footer-links">
		<li><span class="footer-link-label">{{ strings[lang].contact }}</span> <span class="footer-link">{{ myself.mail | protectEmail }}</span></li>
		<li><span class="footer-link-label">GitLab</span> <span class="footer-link"><a href="{{ myself.gitlab }}">Natrium729</a></span></li>
		<li><span class="footer-link-label">itch.io</span> <span class="footer-link"><a href="{{ myself.itchio }}">Natrium729</a></span></li>
		<li><span class="footer-link-label">LinkedIn</span> <span class="footer-link"><a href="{{ myself.linkedin }}">Profil</a></span></li>
		<li><span class="footer-link-label">{{ strings[lang].resume }}</span> <span class="footer-link"><a href="{{ myself.resume }}">{{ strings[lang].link }}</a></span></li>
	</ul>
</footer>
