{% extends "base.njk" %}

{% from "macros.njk" import ProjectCard, TopMenu with context %}

{% set projects = collections["projects_" + lang] %}

{% block title %}
{{ myself.fullName }} — {{ strings[lang].home }}
{% endblock %}

{% block body %}
{{ TopMenu(showName=false, showHomeLink=false) }}

<div class="main-wrapper">
	<header class="content background-image:primary-gradient padding-left-right display:grid place-content:center min-height:full-screen">
		<div>
			<h1 class="text-align:center">{{ myself.fullName }}</h1>
			<p class="text-align:center" style="font-size: 1.2rem;">{{ strings[lang].description }}</p>
		</div>
	</header>

	<main class="main masonry padding">
		{% for project in projects %}
		{{ ProjectCard(project.data.name, link=project.url, image=project.data.thumbnail, categories=project.data.categories) }}
		{% endfor %}
	</main>
</div>

{% include "footer.njk" %}
{% endblock %}
