{% from "macros.njk" import TopMenu with context %}

{% extends "base.njk" %}

{% block title %}
{{ myself.fullName }} — {{ errorCode }} {{ errorLabel }}
{% endblock %}

{% block body %}
{{ TopMenu(showName=true, showHomeLink=false, showLanguageSwitcher=false) }}

<div class="main-wrapper">
	<main class="header content background-image:primary-gradient padding-left-right display:grid place-content:center min-height:full-screen">
		<div style="--link-color: black; --link-color-hover: #666">
			<h1 class="text-align:center">{{ errorCode }}</h1>
			<p class="text-align:center">
				{% block contentFrench %}{% endblock %}
				<a href="{{ '/fr/' | url }}">Retourner à l'accueil ?</a>
			</p>
			<p class="text-align:center">
				{% block contentEnglish %}{% endblock %}
				<a href="{{ '/en/' | url }}">Return home?</a>
			</p>
		</div>
	</main>
</div>

{% include "footer.njk" %}
{% endblock %}
