{% macro ProjectCard(name, link=null, image=null, categories=[]) %}
<article class="project-card display:inline-flex flex-direction:column">
	{% if image %}
	<img src="{{ image | imageUrl }}" alt="Illustration de {{ name }}" class="project-card-image">
	{% endif %}
	<div class="padding flex-grow display:flex flex-direction:column">
		<h2>{{ name }}</h2>
		<ul class="no-defaults display:flex flex-wrap:wrap margin-top:s margin-bottom">
			{% for category in categories %}
			<li class="tech-tag">{{ category }}</li>
			{% endfor %}
		</ul>
		{% if link %}
		<a href="{{ link | url }}" class="no-defaults project-card-button width:full">{{ strings[lang].learnMore}}</a>
		{% endif %}
	</div>
</article>
{% endmacro %}


{% macro TopMenu(showName=true, showHomeLink=true, showLanguageSwitcher=true, withBackground=false) %}
{% if lang == "fr" %}
	{% set translationCode = "en" %}
{% elif lang == "en" %}
	{% set translationCode = "fr" %}
{% endif %}

<nav class="
	top-menu
	padding
	display:flex
	{% if withBackground %}
	color:white
	background-color:translucent-black
	box-shadow:s
	{% endif %}
">
	{% if showName %}
	<div>{{ myself.fullName }}</div>
	{% endif %}
	<div class="margin-left:auto">
		{% if showHomeLink %}
		<a href="{{ ('/' + lang + '/') | url }}" class="no-defaults">{{ strings[lang].home }}</a> | 
		{% endif %}
		{% if showLanguageSwitcher %}
		<a href="{{ translationUrl(translationCode) }}" class="no-defaults">{{ translationCode | upper }}</a>
		{% endif %}
	</div>
</nav>
{% endmacro %}

{# Renders a link to the equivalent page in the given language. #}
{% macro translationUrl(code) -%}
{%- set translationUrl = "/" + code + "/" -%}
{%- for item in collections["all_" + code] -%}
	{%- if item.data.id and item.data.id == id and item.data.lang == code -%}
		{%- set translationUrl = item.url -%}
	{%- endif -%}
{%- endfor -%}
{{- translationUrl | url -}}
{%- endmacro %}
