{%  extends "base.njk" %}

{% from "macros.njk" import TopMenu with context %}

{% block title %}
{{ myself.fullName }} — {{ name }}
{% endblock %}

{% block body %}
{{ TopMenu(showName=true, showHomeLink=true, withBackground=true) }}

<div class="main-wrapper min-height:full-screen">
	<header
		class="project-header height:full-screen position:relative overflow:hidden"
		{% if headerImage %}style="--background-image: url('{{ headerImage | imageUrl }}')"{% endif %}
	>
		<h1 class="project-title">{{ name }}</h1>
	</header>

	<main class="main content padding-left-right:s">
		<div class="project-content background-color:white padding:l">
			{{ content | safe }}
		</div>
	</main>
</div>

{% include "footer.njk" %}
{% endblock %}
