---
permalink: 404.html
lang: fr
errorCode: 404
errorLabel: Page not found
---

{# The language above is set to French so that the footer is correctly displayed. #}

{% extends "http-error.njk" %}

{% block contentFrench %}
Page non trouvée.
{% endblock %}

{% block contentEnglish %}
Page not found.
{% endblock %}
